<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Words
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <ion-spinner text-center *ngIf="teste"></ion-spinner>
  </div>
  
  <div text-center *ngIf="words && words.length <= 0">
    <p>Don't exists words created</p>
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let word of words">
      <ion-item>
        <h1>{{ word.name }}</h1>
        <p text-wrap>{{ word.description }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="editWord(word)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="removeWord(word.key)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>