<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1000194108968-jloh1p1omia8n0d17cgqge4obssckd6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000194108968-jloh1p1omia8n0d17cgqge4obssckd6s</string>
	<key>API_KEY</key>
	<string>AIzaSyB4bt3q_rSTvxRRGdoy9yOLk7YVI7klnNM</string>
	<key>GCM_SENDER_ID</key>
	<string>1000194108968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rf.meusmangas</string>
	<key>PROJECT_ID</key>
	<string>meusmangas-744ef</string>
	<key>STORAGE_BUCKET</key>
	<string>meusmangas-744ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000194108968:ios:662a6e31d038aef4</string>
	<key>DATABASE_URL</key>
	<string>https://meusmangas-744ef.firebaseio.com</string>
</dict>
</plist>